html, body{
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: blanchedalmond;
}

p, li, a, td {
    font-size: large;
}

h2 {
    font-size: xx-large;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(brown, chocolate);
}

.navbar li {
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li:hover, .navbar a:hover {
    background-color: brown;
    color: white;
}

.container {
    min-height: 70%;
    margin: 20px 20%;
    padding: 50px;
    border: 3px solid darkred;
    background-color: whitesmoke;
    border-radius: 20px;
    text-align : center;
}

.container .button a {
    padding: 5px;
    border: 1px solid darkred;
    background-color: chocolate;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.container table {
    margin: auto;
}

.container table td{
    min-width: 20px;
    text-align: left;
}

.container ul {
    margin-left: auto;
    text-align: left;
}

.contact img {
    max-width: 50px;
    max-height: 50px;
}

.contact a {
    padding: 5px;
}

.contact {
    margin-left: 2%;
}

.footer {
    text-align: center;
    color: white;
    padding: 1px;
    background-image: linear-gradient(brown, chocolate);
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .container {
        margin: 20px 5%;
    }
    
    p, li, a, td {
        font-size: normal;
    }
    
    h2 {
        font-size: x-large;
    }
}