{% extends 'base.html' %}
{% load static %}
{% block title %} Selamat Datang! {% endblock %}
{% block content %}
    <h2>Selamat Datang!</h2>
    <p>Selamat datang di web pertama saya!</p>
    <img alt="ProfilePic" src="{% static 'profilepic.jpg' %}">
    <h2>William</h2>
    <p>Gemar mempelajari hal-hal baru</p>
    <div class="button">
        <a href="{% url 'profile' %}">Tampilkan</a>
    </div>
{% endblock %}
