<!DOCTYPE html>
{% load static %}
<html lang="in">
    <head>
        <title>PPW Story 1 | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="{% url 'index' %}">PPW Story 1</a></li>
            </ul>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <p>Created in 2020 by William</p>
        </div>
    </body>
</html>